* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", "San-serif";
  height: 1000px;
}

/* Common */
a {
  text-decoration: none;
  display: inline-block;
}

.row {
  display: flex;
  align-items: center;
}

.content {
  width: 1170px;
  margin: 0 auto;
}

#main .content {
  width: 1170px;
  margin: 170px auto;
}

.btn {
  display: inline-block;
  padding: 15px 46px;
  border-radius: 30px;
  background: #2e80ce;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.667;
}

.next {
}

.right-block {
  margin-left: 130px;
}

.mt18 {
  margin-top: 18px;
}

.mt38 {
  margin-top: 38px;
}

/* Header */
#header {
  height: 100vh;
  background-color: #10375c;
}

/* Navbar */
#nav {
  padding-top: 30px;
}

#nav .content {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  margin-left: 318px;
  gap: 42px;
  position: relative;
}

.nav__list .item {
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 1.75;
}

.nav__list::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #fff;
  position: absolute;
  left: -14px;
  top: 11px;
}

.nav__list .item:first-child {
  color: #fff;
  font-weight: 400;
}

#nav .action {
  margin-left: auto;
  display: flex;
  align-items: center;
}

#nav .action .sign-in {
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 1.75;
}

#nav .action .sign-up {
  min-width: 104px;
  padding: 8px 16px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  text-align: center;
  margin-left: 28px;
}

/* Hero */
.hero {
  margin-top: 136px;
}

.hero .content {
  display: flex;
}

.hero__info {
  width: 517px;
}

.hero__info .title {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.143;
  letter-spacing: -1.4px;
}

.hero__info .desc {
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 200;
  line-height: 1.667;
  margin-top: 22px;
}

.hero .cta {
  margin-top: 38px;
}

.cta__phone {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.667;
  margin-left: 38px;
}

.hero__img {
  margin-left: 113px;
  display: flex;
  position: relative;
}

.hero__img img:first-child {
  width: 330px;
  height: 540px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: -60px;
}

.hero__img img:last-child {
  width: 210px;
  height: 410px;
  border-radius: 0px 6px 6px 0px;
  position: absolute;
  top: 5px;
  left: 324px;
}

/* Main */
#main {
  min-height: 3000px;
}

/* Service */
.service__title {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
  text-align: center;
}

.service__desc {
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.667;
  margin-top: 18px;
  text-align: center;
}

.detail-service {
  display: flex;
  margin-top: 70px;
  align-items: center;
}

.detail-service__img {
  width: 570px;
  height: 570px;
  object-fit: cover;
}

.right-block .item {
  display: flex;
  padding: 21px 22px;
}

.service .item.item--active {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.item__img {
  width: 60px;
  height: 60px;
}

.item__content {
  margin-left: 19px;
}

.item__content__title {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
}

.item__content__desc {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
  margin-top: 8px;
}

.service__btn {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.667;
  margin-top: 55px;
  width: 205px;
  text-align: center;
}

/* Tutorial */
.tutorial {
  background: #f6fbff;
}

.tutorial .content {
  padding: 100px 0;
}

.tutorial__title {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.tutorial__desc {
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.667;
  margin-top: 8px;
}

.steps {
  margin-top: 86px;
  margin-left: -15px;
  margin-right: -15px;
}

.steps::after {
  content: "";
  display: block;
  clear: both;
}

.steps .item {
  width: 370px;
  padding: 16px;
  border-radius: 4px;
  background: #eaf6ff;
  float: left;
  margin: 0 15px;
}

.steps .item.item--active {
  background-color: #2e80ce;
  margin-top: -16px;
}

.item__body {
  padding: 43px 42px;
  background-color: #fff;
  border-radius: 4px;
}

.item__title {
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38;
  margin-top: 18px;
}

.item__desc {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
  margin-top: 28px;
}

.item__link {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
  margin-top: 18px;
}

/* Addition */
.addition__body {
  display: flex;
  align-items: center;
}

.addition__body .left-block {
  position: relative;
  width: 570px;
  height: 491px;
}

.fisrt-img {
  width: 512px;
  height: 370px;
  object-fit: cover;
}
.second-img {
  width: 332px;
  height: 370px;
  object-fit: cover;
  position: absolute;
  left: 238px;
  top: 121px;
}

.addition__title {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.addition__desc {
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.667;
  margin-top: 18px;
}

.addition__body .right-block {
  margin-left: 188px;
}

/* Dentist */
.dentist {
  text-align: center;
}

.dentist__title {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.dentist__list {
  margin-top: 70px;
  display: flex;
  gap: 34px;
}

.dentist__list .item {
  width: calc(100% / 4);
}

.bg__avt {
  border-radius: 6px;
  height: 318px;
  background: #eaf6ff;
  /* position: relative; */
}

.item__avt {
  height: 290px;
  object-fit: cover;
  /* position: absolute;
  bottom: 0;
  right: 4px; */
  margin-top: 28px;
}

.item__name {
  color: #10375c;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  margin-top: 12px;
}

.item__info {
  color: #575f66;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.86;
}
