* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

/*================================ Common ==========================*/
a {
  text-decoration: none;
  display: inline-block;
}

.row {
  display: flex;
  align-items: center;
}

.content {
  width: 1170px;
  margin: 0 auto;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  min-width: 205px;
  line-height: 60px;
  border-radius: 30px;
  background: #2e80ce;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
}

.section-heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
  text-align: center;
}

.section-desc {
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.667;
  margin-top: 18px;
  text-align: center;
}

.right-block {
  margin-left: 130px;
}

.mt18 {
  margin-top: 18px;
}

.mt38 {
  margin-top: 38px;
}

/*================================ Header ==========================*/
.header {
  min-height: 100vh;
  background-color: #10375c;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

/* -----------------------> Nav */
.navbar {
}

.nav__list {
  display: flex;
  gap: 42px;
}

.nav__item {
  color: #c9d2da;
  position: relative;
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 1.75;
}

.nav__item:hover,
.nav__item--active {
  text-shadow: 1px 0 0 currentColor;
  font-weight: 300;
}

.nav__item--active::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 11px;
  left: -16px;
}

#nav .action {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.action__sign-in {
  color: #c9d2da;
  font-weight: 200;
  line-height: 1.75;
}

.action__sign-up {
  min-width: 104px;
  padding: 8px 16px;
  color: #fff;
  font-weight: 400;
  margin-left: 28px;
  line-height: 1.75;
  font-size: 1.6rem;
}

/* -----------------------> Hero */
.hero {
  display: flex;
  width: 1170px;
  padding-top: 76px;
  padding-bottom: 110px;
}

.hero__content {
  width: 44%;
}

.hero__heading {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: -1.4px;
}

.hero__desc {
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 200;
  line-height: 30px;
  margin-top: 22px;
}

.hero__row {
  margin-top: 38px;
}

.hero__phone {
  color: #fff;
  margin-left: 38px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
}

.hero__media {
  flex-grow: 1;
}

.hero__images {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hero__img {
  width: 330px;
  height: 540px;
  border-radius: 6px;
  object-fit: cover;
}

.hero__img:first-child {
  position: relative;
  margin-right: -6px;
}

.hero__img:last-child {
  width: 210px;
  height: 410px;
}

/*================================ Main ==========================*/
.main {
}

.main .content {
  width: 1170px;
  margin: 170px auto;
}

.main .container {
  width: 1170px;
  margin: 170px auto;
}

/*================================ Service ==========================*/
.service {
}

.service-row {
  display: flex;
  margin-top: 70px;
  align-items: center;
  justify-content: space-between;
}

.service__list {
}

.service-img {
  width: 570px;
  height: 570px;
  object-fit: cover;
  border-radius: 12px;
}

.service-item {
  max-width: 470px;
  min-height: 128px;
  display: flex;
  align-items: center;
}

.service-item:hover {
  border-radius: 10px;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
  transition: 0.25s;
}

.service-item:hover svg {
  color: #fff;
  transition: 0.25s;
}

.service-item:hover .service-item__icon {
  background-color: #2e80ce;
  transition: 0.25s;
}

.service-item__icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eff6fd;
  margin-right: 19px;
  margin-left: 22px;
}

.service-item__icon svg {
  transform: translateY(5px);
}

.service-item__heading {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
}

.service-item__desc {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 28px; /* 175% */
  margin-top: 8px;
}

/*================================ Tutorial ==========================*/
.tutorial {
  background: #f6fbff;
}

.tutorial .section-heading {
  text-align: start;
  padding-top: 100px;
}

.tutorial .section-desc {
  text-align: start;
  padding-top: 18px;
  width: 468px;
}

.tutorial__list {
  padding-top: 70px;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
}

.tutorial-item {
  width: 370px;
  height: 402px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 16px solid #eaf6ff;
  border-radius: 4px;
}

.tutorial-item:hover {
  border-color: #2e80ce;
  transform: translateY(-16px);
  transition: 0.25s;
}

.tutorial-item:hover .tutorial-item__link {
  color: #2e80ce;
}

.tutorial-item__body {
  width: 254px;
}

.tutorial-item__icon {
  width: 72px;
  height: 72px;
  flex-shrink: 0;
}

.tutorial-item__heading {
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 36px;
  margin-top: 18px;
}

.tutorial-item__desc {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 28px;
  margin-top: 28px;
  width: 254px;
}

.tutorial-item__link {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 28px;
  margin-top: 18px;
}

/*================================ Additional ==========================*/
.addition__body {
  display: flex;
  align-items: center;
}

.addition__body .left-block {
  position: relative;
  width: 570px;
  height: 491px;
}

.fisrt-img {
  width: 512px;
  height: 370px;
  object-fit: cover;
}
.second-img {
  width: 332px;
  height: 370px;
  object-fit: cover;
  position: absolute;
  left: 238px;
  top: 121px;
}

.addition__title {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.addition__desc {
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.667;
  margin-top: 18px;
}

.addition__body .right-block {
  margin-left: 188px;
}

/* Dentist */
.dentist {
  text-align: center;
}

.dentist__title {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.dentist__list {
  margin-top: 70px;
  display: flex;
  gap: 34px;
}

.dentist__list .item {
  width: calc(100% / 4);
}

.bg__avt {
  border-radius: 6px;
  height: 318px;
  background: #eaf6ff;
  /* position: relative; */
}

.item__avt {
  height: 290px;
  object-fit: cover;
  /* position: absolute;
  bottom: 0;
  right: 4px; */
  margin-top: 28px;
}

.item__name {
  color: #10375c;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  margin-top: 12px;
}

.item__info {
  color: #575f66;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.86;
}

/* Store */
.store {
}

.store .content {
  border-radius: 4px;
  background: #2e80ce;
  position: relative;
}

.img-block {
}

.phone__img {
  position: absolute;
  bottom: 0;
  left: 70px;
}

.store__content {
  width: 586px;
  margin-left: auto;
  margin-right: 70px;
}

.store__title {
  color: #fff;
  font-size: 5rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -1px;
  padding-top: 76px;
  width: 489px;
}

.store__desc {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 200;
  line-height: 1.667;
  margin-top: 18px;
}

.store__phone {
  margin-top: 38px;
  display: flex;
  gap: 28px;
  padding-bottom: 75px;
}

/* News */
.new {
}

.new .content {
  display: flex;
  justify-content: space-between;
}

.new__heading {
  width: 470px;
}

.title {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.link {
  color: #10375c;
  font-size: 1.8rem;
  font-family: Inter;
  font-weight: 600;
  line-height: 1.556;
  text-decoration-line: underline;
  margin-top: 28px;
  margin-bottom: 28px;
  display: block;
}

.new__list {
  display: flex;
  gap: 30px;
}

.new__list .item {
  width: 270px;
  border-radius: 12px;
}

.new__list .item .img {
  display: block;
  width: 269px;
  height: 172px;
  object-fit: contain;
}

.new__list .item .body {
  padding: 18px 22px;
}

.new__list .item .title {
  color: #10375c;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.625;
}

.new__list .item .desc {
  color: #575f66;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.71;
  margin-top: 10px;
}

.new__list .item .link {
  color: #2e80ce;
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: none;
}

.new__list .item.readed {
  border: 1px solid #e8ebee;
}

.new__list .item:not(.readed) {
  box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
}

/* New */
.cta {
  text-align: center;
}

.cta .content {
  background-color: #f6fbff;
  padding: 100px 178px;
}

.cta__title {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
  position: relative;
}

.cta__title::after {
  content: "";
  display: inline-block;
  width: 136px;
  height: 2px;
  background: #2e80ce;
  position: absolute;
  bottom: -18px;
  left: 50%;
  transform: translateX(-50%);
}

.cta__desc {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
  margin-top: 38px;
  width: 617px;
  margin-left: auto;
  margin-right: auto;
}

/* Footer */
#footer {
  background-color: #10375c;
}

#footer .content {
  padding-top: 100px;
}

#footer .block__list {
  display: flex;
  gap: 78px;
}

.block__item .heading {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}

#footer .block__item:nth-child(1) .desc {
  color: #a9b3bb;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  margin-top: 21px;
  width: 336px;
}

.category-block .heading {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}

.category-block {
  margin-top: 28px;
}

.category-block:first-child {
  margin-top: 0;
}

.category-block .category__list {
  margin-top: 20px;
}

.category__list .item {
  margin-top: 10px;
  color: #a9b3bb;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}

.social__list {
  margin-top: 20px;
}

.subscribe {
  margin-top: 28px;
}

.subscribe .desc {
  margin-top: 20px;
  color: #a9b3bb;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
  width: 273px;
}

.subscribe__form {
  display: flex;
  margin-top: 10px;
}

.subscribe__input {
  border-radius: 4px;
  border: 1px solid #406181;
  color: #9ca8b1;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.86;
  background: #10375c;
  padding: 10px 10px;
  width: 212px;
}

.subscribe__btn {
  border-radius: 4px;
  background: #2e80ce;
  width: 108px;
  height: 46px;
  text-align: center;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.86;
  padding: 10px;
  margin-left: 12px;
}

.line {
  display: block;
  width: 1170px;
  height: 1px;
  background: #406181;
  margin-top: 28px;
}

.copyright {
  margin-top: 28px;
  padding-bottom: 42px;
  color: #aab3ba;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.86;
}
